{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to WaltMart – Your Ultimate Shopping
                    Destination!</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>

                    </p>
                    <h1>Our Story:</h1>
                    <p align="justify">
                        WaltMart was founded with a simple yet ambitious goal – to redefine online shopping by combining
                        innovation, reliability, and customer-centricity. Since our inception, we have dedicated
                        ourselves to curating a vast selection of products that cater to every aspect of your life. From
                        the latest tech gadgets to trendy fashion, home essentials, and beyond, WaltMart is your
                        one-stop destination for all your needs.
                    </p>
                    <h1>Our Mission:</h1>
                    <p align="justify">
                        At the heart of WaltMart is a mission to empower customers with choices that enhance their
                        lifestyles. We are driven by a passion for delivering exceptional value and an unwavering
                        commitment to customer satisfaction. Our team works tirelessly to bring you the latest trends,
                        top-notch quality, and unbeatable prices. </p>

                    <h1>Why WaltMart:</h1>
                    <p align="justify">
                        At WaltMart, we believe in making your online shopping experience extraordinary. As a premier
                        e-commerce destination, we strive to bring you a diverse range of high-quality products,
                        unmatched convenience, and exceptional customer service. Our commitment is to create a seamless
                        and enjoyable shopping journey for each and every customer.


                    <h1>Join the WaltMart Community:</h1>
                    <p align="justify">Become a part of the WaltMart community and stay connected with us on social
                        media. Be the first to know about exclusive deals, new arrivals, and exciting promotions. Your
                        journey with WaltMart goes beyond just shopping – it's about being a part of a vibrant and
                        dynamic community.
                        <br><br>
                        Thank you for choosing WaltMart – where shopping meets excellence. We look forward to being your
                        preferred online shopping destination.
                        <br><br>
                        Happy Shopping!<br><br>
                        The WaltMart Team

                    </p>

                </div>
            </center>
        </div>
    </div>

{% endblock %}