{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Login Required !</h1>
                <p class="lead fw-normal text-white-50 mb-0">You Need to Login inorder to continue......
                    !</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>

                </div>
                <a href="{% url 'login' %}" class="btn btn-secondary"> Login </a>
                <a href="{% url 'index' %}" class="btn btn-secondary"> Back to Home </a>
        
            </center>
        </div>
    </div>
    <br><br><br><br><br><br>

{% endblock %}